/* grid container*/

.page {
  display: grid;
  grid-template-columns: 10vw 90vw;
  grid-template-rows: .5fr 1fr 6fr .5fr;
  grid-template-areas:  "sidebar header"
                        "sidebar options"
                        "sidebar main"
                        "footer footer";
  height: 100vh;
  max-width: 100vw;
  align-items: center;
  justify-items: center;

}


 /*grid items*/
 
.header { grid-area: header; }

.sidebar { grid-area: sidebar; }

.options { grid-area: options; }

.main { grid-area: main; }

.footer { grid-area: footer; }

 /*inside grid items*/


